// from David
$blueOxford: #08143d;
$blueIce: #91f1ee;
$yellow: #feb939;
$indigo: #8c82e5;
$pink: #fd87d1;

// experimental - Alex
$eggplant: #46224d;
$orange: #f0882c;
$pink2: #f124ad;
$teal1: #02b191;
$teal2: #4eeacd;

$white: #e8e8e8;
$black: #181818;
$gray1: #c3c3c3;
$gray2: #8b8b8b;
