$blueOxford: #08143d;
$blueOxford2: #0c246a;
$blueIce: #91f1ee;
$yellow: #feb939;
$indigo: #8c82e5;
$pink: #fd87d1;

$eggplant: #46224d;
$orange: #f58c31;
$yellow2: rgba(247, 220, 171, 0.5);
$yellow3: rgba(236, 191, 108, 0.3);
$pink2: #f544ba;
$teal: #02b191;
$teal2: #4eeacd;

$white: #f4fcfc;
$black: #090c14;
$gray1: #c3c3c3;
$gray2: #8b8b8b;
