$blueOxford: hsl(226, 77%, 14%);
$blueOxford2: hsl(225, 80%, 23%);
$blueIce: #93f1ee;
$yellow: hsl(39, 99%, 61%);
$indigo: hsl(246, 66%, 70%);
$pink: #fd86d2;
$test: hsl(224, 42%, 14%);

$eggplant: hsl(290, 39%, 22%);
$orange: hsl(28, 91%, 58%);
$yellow2: rgba(247, 220, 171, 0.5);
$yellow3: rgba(236, 191, 108, 0.3);
$pink2: hsl(320, 90%, 61%);
$teal: hsl(169, 98%, 35%);
$teal2: hsl(169, 79%, 61%);

$white: hsl(180, 57%, 97%);
$gray1: hsl(0, 0%, 76%);
$gray2: hsl(0, 0%, 55%);
$gray3: hsl(0, 0%, 24%);
$black: hsl(224, 38%, 6%);
