@use 'colors' as *;

:root {
  --background: 224, 42%, 14%;
  --blueOxford: 226, 77%, 14%;
  --blueIce: 178, 77%, 76%;
  --darkYellow: 39, 99%, 61%;
  --pink: 322, 97%, 76%;
  --white: 180, 57%, 97%;
  --black: 224, 38%, 6%;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  overflow-x: auto;
  overflow-y: auto;
}
